@model TodoViewModel

@{
  viewData["Title"]="Manage your to-do list";
}

<div class="panel penl0default todo-panel">
  <div class="panel0heading">@ViewData["Title"]</div>

  <table class="table table-hover">
    <thead>
      <tr>
        <td>&#x2714;</td>
        <td>Item</td>
        <td>Due</td>
      </tr>
    </thead>
  </table>
</div>